@font-face {
	font-family: 'font-awesome';
	src:url('../fonts/icomoon/fonts/icomoon.eot?uo51h1');
	src:url('../fonts/icomoon/fonts/icomoon.eot?#iefixuo51h1') format('embedded-opentype'),
		url('../fonts/icomoon/fonts/icomoon.woff?uo51h1') format('woff'),
		url('../fonts/icomoon/fonts/icomoon.ttf?uo51h1') format('truetype'),
		url('../fonts/icomoon/fonts/icomoon.svg?uo51h1#Magi-cut') format('svg');
	font-weight: normal;
	font-style: normal;
}