@media print {
  /* line 7, ../sass/print.scss */
  * {
    text-shadow: none !important;
    color: #000 !important;
    background: transparent !important;
    box-shadow: none !important;
  }

  /* line 14, ../sass/print.scss */
  a,
  a:visited {
    text-decoration: underline;
  }

  /* line 18, ../sass/print.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 21, ../sass/print.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 25, ../sass/print.scss */
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  /* line 29, ../sass/print.scss */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 34, ../sass/print.scss */
  thead {
    display: table-header-group;
  }

  /* line 39, ../sass/print.scss */
  tr,
  img {
    page-break-inside: avoid;
  }

  /* line 43, ../sass/print.scss */
  img {
    max-width: 100% !important;
  }

  /* line 46, ../sass/print.scss */
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 52, ../sass/print.scss */
  h2,
  h3 {
    page-break-after: avoid;
  }

  /* line 56, ../sass/print.scss */
  select {
    background: #fff !important;
  }
}
