﻿  // Force the breakpoint mixin to discard all media queries except ones with
// $no-query set to true. Since we use the default values in styles.scss,
// we don't need to set these in _init.scss.
$breakpoint-no-queries: true;
$breakpoint-no-query-fallbacks: true;
$fluid-containers: false;
$fixed-container: true;

@import "style";

//!important added to some elements to over-ride contour
.front-end {
    form {
        fieldset {
            input[type=text], textarea, select {
                @include breakpoint($large) {
                    width: 70% !important;
                }
            }
        }
        div.password {
            input[type=password] {
                @include breakpoint($large) {
                    width: 70%;
                }
            }
        }
    }
}