// Force the breakpoint mixin to discard all media queries except ones with
// $no-query set to true. Since we use the default values in styles.scss,
// we don't need to set these in _init.scss. test
$breakpoint-no-queries: true;
$breakpoint-no-query-fallbacks: true;
$container-style: static;

@import "style";

#webBlocksWrapper {
    #side-container {
        .block {
            width: 100%;
        }
    }
}

#webBlocksWrapper .block {
    &:after, &:before {
        display: none;
    }
}

.pageWysiwygBlock {
    width: 100%;
}

#webBlocksWrapper {
    #canvas {
        background-color: transparent;
        #hero {
            margin: 0;
            .container {
                overflow: hidden;
                outline: 1px dashed $gray;
                @include container($grid);
                .slidePreview {
                    @include span(2 of 12);
                }
            }
        }
    }
}

.container {
    @include clearfix;
}

//Fix to prevent outlines hiding on containers in back-end
.home-page > div, .content-page > div, .content-page-full-width > div, .content-page-three-col > div, .landing-page > div, .landing-page-full-width > div {
    overflow: visible;
}

.landing-page #landing-container {
    overflow: visible;
}

.landing-page-icon-block {
    //Fix to make  full width because Webblocks float displays width incorrectly.
    @include span(full nest);
    //Fix to show icon blocks at consistent heights because jquery matchHeight can't be used in back-end
    .icon-block {
        min-height: 180px;
    }
}

//Fix to make body heading full width because Webblocks float displays width incorrectly.
.body-heading {
    @include span(full nest);
}