footer {
}

.getintouch {
    // Gradient background...
    background: #de1e2f; /* Old browsers */
    background: -moz-linear-gradient(top,  #de1e2f 0%, #e93041 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#de1e2f), color-stop(100%,#e93041)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #de1e2f 0%,#e93041 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #de1e2f 0%,#e93041 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #de1e2f 0%,#e93041 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #de1e2f 0%,#e93041 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#de1e2f', endColorstr='#e93041',GradientType=0 ); /* IE6-9 */

    padding: 35px 0px;
    text-align: center;

    h2 {
        display: block;
        margin-bottom: 20px;
        text-transform: none;
        font-weight: $weight-thin;
        color: $white;

        @include breakpoint($tablet) {
            display: inline-block;
            margin-bottom: 0;
        }
    }

    .btn {
        @include responsive-spacing(margin-left, 15px);
        margin-top: -6px;
        vertical-align: middle;
    }
}

.contact {
    background: $section-bg-color-light;
    color: $text-color-dark;

    // Because the desktop one and the mobile one are so different, I'm styling them completely separately...
    .hidden-desktop .social {
        clear: both;
        text-align: center;

        @include breakpoint($tablet) {
            border-top: 2px solid white;
            text-align: left;
        }

        h5 {
            @include adjust-font-size-to(24px);
            line-height: 1;
            margin-bottom: 8px;

            @include breakpoint($tablet) {
                margin-bottom: 15px;
            }
        }

        .tweet {
            @include span(6 nest);
        }

        .links {
            clear: both;
        }
    }

    .services, .locations {
        @include breakpoint($tween) {
            @include span(6 nest);
        }
    }

    .social, .services, .locations {
        @include breakpoint($desktop) {
            @include span(4 nest);
        }

        & > * {
            margin-bottom: $spacing;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    h5 {
        margin-bottom: 15px;
    }

    .tweet, .address, input, li, .tel, .email {
        @include adjust-font-size-to(14px);
    }

    ul {
        li {
            margin: 7px 0px;
        }
    }

    a {
        &.socialbtn {
            display: inline-block;
            width: 48px;
            height: 48px;
        }
    }

    .social {
        .tweet {
            margin-bottom: 20px;

            .body {
                max-width: 330px;
            }

            .foot {
                &, a {
                    color: $tweet-foot-color;
                }
            }
        }

        .links {
            li {
                display: inline-block;
            }

            a {
                @include encircle-color($gray);
                color: $section-bg-color-light;
                margin-right: 7px;

                &:hover {
                    text-decoration: none;
                }
            }
        }
    }

    .services {
        .pages {
            a {
                @extend .link-darker;
            }
        }
        
        .newsletter {
            max-width: 330px;
        }
    }

    .locations {
    }
}

.copyright {
    padding: 35px 0px;
    text-align: center;
    color: $text-color-dark;
    background-color: $gray-light;
    //font-size: 14px;
    @include adjust-font-size-to(14px);

    a {
        @extend .link-darker;
    }

    .separator {
        margin: 0 10px;
    }
}