.contain {
    @include container;
    position: relative;
   	//height: 100%;
   	@include breakpoint(1400px, "no-query" true) { // IE8 fluid container fix...
		width: $container-width;
   	}
}

.contain-small {
	max-width: $container-width - 40px;

	@include breakpoint(1400px, "no-query" true) {
		width: $container-width - 40px;
   	}
}

.containHero {
    max-width: $hero-container-width;
}