@import "/scripts/libs/jquery.ajaxlink/jquery.ajaxlink.css";

#ajaxcontent, #ajaxarticles {
	@include transition(opacity 400ms, max-height 1000ms);
	@include opacity(1);
	position: relative;
	overflow: hidden;
	//margin-left: 0;
	//margin-right: 0;

	&.replacing {
		@include opacity(0);
		//margin-left: -20px;
		//margin-right: 20px;
	}

	&.appending {
		//@include transition(max-height 1800ms);
	}
}