.socialbtn {
	background-image: url('../images/spritesheet-social.png');
	background-repeat: no-repeat;
	text-decoration: none;
	width: 48px;
	height: 48px;
	display: inline-block;

	&.twitter_white {
		background-position: -1px -1px;
	}

	&.linkedin_white {
		background-position: -1px -51px;
	}

	&.twitter_grey {
		background-position: -1px -101px;
	}

	&.linkedin_grey {
		background-position: -1px -151px;
	}

	&.facebook_grey {
		background-position: -1px -201px;
	}

	&.google_grey {
		background-position: -1px -251px;
	}
}

.btn-group {
	@include responsive-spacing(padding-top, 15px);
	@include responsive-spacing(padding-bottom, 5px);
	
	.btn {
		@include responsive-spacing(margin-right, 10px);
		@include responsive-spacing(margin-bottom, 10px);
	}
}

.btn {
	@include transition(box-shadow 250ms);
    @include border-radius(3px);
	@include adjust-font-size-to(14px);
	@include box-shadow(inset 0px 0px 0px 0px rgba($black, 0.7));

	display: inline-block;
	padding: 10px 25px;
	//margin: 0px 75px;
    background-color: $brand-primary;
	color: $white;
    text-decoration: none;
    white-space: nowrap;
	text-transform: uppercase;

    &:hover, &:active, &:focus {
    	//@include box-shadow(inset 0px 0px 3px 0px rgba($black, 0.7));
		background-color: lighten($brand-primary, 5%);
		text-decoration: none;
		color: $white;
	}

	&.btn-white {
		background-color: $white;
		color: $gray-darker;
	}

	&.btn-dark {
		background-color: $text-color-dark;
		color: $white;
	}

	&.btn-outlined {
		border: 2px solid $white;
		background-color: transparent;
	}

	&.btn-outlined.btn-dark {
		border-color: $text-color-dark;
		color: $text-color-dark;
	}

	&.btn-large {
		@include adjust-font-size-to(18px);
		line-height: 1.5em; // No idea why but it's practically doubled in line-height? lol
		font-weight: $weight-bold;
		padding: 14px 45px;
	}

	&.btn-large.btn-outlined {
		border-width: 3px;
		padding: 11px 42px;
	}

	// Arrowed button... it slides in and shifts the inner content/label...
	&.btn-arrowed-right, &.btn-arrowed-left {
		@include transition(padding 250ms);
		position: relative;
		overflow: hidden;

		&:before {
			@include custom-icon;
			position: absolute;
			margin-top: 5px;
		}
	}

	&.btn-arrowed-right {
		@extend .icon-chevron-right;

		&:before {
			@include transition(right 250ms);
			right: -15px;
		}

		&:hover {
			//padding: 10px 25px;
			padding-left: 15px;
			padding-right: 35px;

			&:before {
				right: 15px;
			}
		}
	}

	&.btn-arrowed-left {
		@extend .icon-chevron-left;

		&:before {
			@include transition(left 250ms);
			left: -15px;
		}

		&:hover {
			padding-left: 35px;
			padding-right: 15px;

			&:before {
				left: 15px;
			}
		}
	}

	&.btn-arrowed-right.btn-large {
		&:hover {
			//padding: 14px 45px;
			padding-left: 32px;
			padding-right: 52px;

			&:before {
				right: 20px;
			}
		}
	}

	&.btn-arrowed-left.btn-large {
		&:hover {
			//padding: 14px 45px;
			padding-left: 52px;
			padding-right: 32px;

			&:before {
				left: 20px;
			}
		}
	}
}