@mixin encircle($size: 85px) {
	@include border-radius(50%);
	display: inline-block;
	width: $size;
	height: $size;
	text-align: center;
	line-height: $size;

	.icon {
		line-height: $size - 4; // Just bump it up a bit...
	}
}

@mixin encircle-double($distance: 8px) {
	position: relative;
	margin: $distance;

	&:before {
		@include border-radius(50%);
		content: " ";
		position: absolute;
		top: - $distance;
		bottom: - $distance;
		left: - $distance;
		right: - $distance;
		border-width: $distance/2;
		border-style: solid;
	}
}

@mixin encircle-color($color: $white) {
	background-color: $color;

	&:before {
		border-color: $color;
	}
}

.encircled {
	@include encircle();
	@include encircle-color();
}
.encircled-doubled {
	@include encircle-double();
}
.encircled-gray {
	@include encircle-color($gray-lighter);
}
.encircled-white {
	@include encircle-color($white);
}

.encircled-social {
    @include encircle(40px);
    display: block;
    font-size: 21px;

	.icon {
        display: inline-block;
        vertical-align: middle;
    }

    .icon-twitter {
        margin-top: -2px;
    }

    .icon-linkedin {
        margin-top: -4px;
        margin-right: -2px;
    }

    .icon-facebook {
        margin-left: -2px;
        margin-top: -2px;
    }

    .icon-google-plus {
        margin-top: -2px;
    }
}