/*
 * jQuery FlexSlider v2.2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */

/* Browser Resets
*********************************/

.flex-container a:active, .flexslider a:active, .flex-container a:focus, .flexslider a:focus {
    outline: none;
}

.slides, .flex-control-nav, .flex-direction-nav {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* FlexSlider Necessary Styles
*********************************/

.flexslider {
    width: 100%;
    margin: 10px 0;
    @include breakpoint($large) {
        margin: 0 auto;
        //padding: 0 100px;
        max-width: 1200px;
        position: relative;
    }

    .slides {
        width: 100%;
        @include breakpoint($large) {
            max-width: 1000px;
            min-height: 370px;
            margin: 0 auto;
        }

        > li {
            display: none;
            padding-top: 180px;
            -webkit-backface-visibility: hidden;
            //background-size: contain;
            background-repeat: no-repeat;
            background-position: center 0;
            @include breakpoint($large) {
                max-width: 1000px;
                min-height: 370px;
                padding: 20px;
            }

            > div {
                text-align: center;
                @include breakpoint($large) {
                    width: 380px;
                }

                h2 {
                    margin: 0;
                    span {
                        padding: 10px 10px 0 10px;
                        @include breakpoint($large) {
                            padding: 20px 20px 0 20px;
                        }

                        margin: 0;
                    }
                }
                span {
                    display: block;
                    padding: 10px;
                    background-color: $white;
                    margin-bottom: 14px;
                    text-align: left;
                    @include breakpoint($large) {
                        padding: 20px;
                    }
                }
                > img {
                    display: none;
                    @include breakpoint($large) {
                        display: block;
                    }
                }
            }
            &:first-child {
                display: block;
            }
        }
        img.slide-image {
            display: block;
        }
    }
}

/* Hide the slides before the JS is loaded. Avoids image jumping */

.flex-pauseplay span {
    text-transform: capitalize;
}

/* Clearfix for the .slides element */

.slides:after {
    content: "\0020";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

html[xmlns] .slides {
    display: block;
}

* html .slides {
    height: 1%;
}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */

.no-js .slides > li:first-child {
    display: block;
}

/* Direction Nav */

.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {
    @include opacity(1);
}

.flex-direction-nav {
    *height: 0;
    display: none;
    @include breakpoint($large) {
        display: block;
    }

    a {
        text-decoration: none;
        display: block;
        width: 80px;
        height: 72px;
        position: absolute;
        text-indent: -9999px;
        z-index: 50;
        top: 50%;
        margin-top: -12px;
        overflow: hidden;
        cursor: pointer;
        background-repeat: no-repeat;
        @include opacity(0.6);
        background-size: contain;
        .lt-ie8 & {
            //   -ms-behavior: url(/css/backgroundsize.min.htc);
       
        }
        .blue & {
            background-color: $sky-blue;
        }
        .green & {
            background-color: $green;
        }
        .orange & {
            background-color: $orange;
        }
        @include breakpoint($slider-controls) {
            width: 40px;
            height: 36px;
            top: auto;
            bottom: 11px;
        }
    }
    .flex-prev {
      //  @include background-image(image-url("arrow_left_t.png"));
        left: 0;
        @include breakpoint($slider-controls) {
            left: auto;
            right: 80px;
            .lt-ie9 & {
              //  @include background-image(image-url("arrow_left_sml.png"));
                right: 160px;
            }
        }
    }
    .flex-next {
     //   @include background-image(image-url("arrow_right_t.png"));
        right: 0;
        @include breakpoint($slider-controls) {
            right: 18px;
            .lt-ie9 & {
              //  @include background-image(image-url("arrow_right_sml.png"));
                right: 110px;
            }
        }
    }
}

.flex-direction-nav {
    .flex-disabled {
        opacity: 0 !important;
        filter: alpha(opacity = 0);
        cursor: default;
    }
}

.flex-viewport {
    max-height: 2000px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

.loading .flex-viewport {
    max-height: 300px;
}

.flexslider.home:hover {
    .flex-prev {
        opacity: 0.7;
        left: 10px;
    }
    .flex-next {
        opacity: 0.7;
        right: 10px;
        &:hover {
            opacity: 1;
        }
    }
    .flex-prev:hover {
        opacity: 1;
    }
}