//!important added to some elements to over-ride contour

form {
}

input, textarea, select {
    @include responsive-spacing(margin-bottom, $spacing-mobile);
    border: none;
    width: 100%;
    display: block;
    padding: 10px 12px;
    font-weight: $weight-thin;

    &:last-child {
        margin-bottom: 0
    }
}

textarea {
    min-height: 200px;
}

input[type="submit"] {
    width: auto;
}

.input-inline {
    @include breakpoint($tablet) {
        @include tablefy(10px, middle, true);
    }

    input, textarea, select {
        @include responsive-spacing(margin-bottom, $spacing-mobile);
    }

    &:last-child {
        margin-bottom: 0;
    }
}

.input-grouped {
    input, textarea, select {
        @include border-radius(0);
    }

    & > * {
        margin-left: 0;
        margin-right: 0;
        overflow: hidden;
        padding-left: 0;
        padding-right: 0;

        &:first-child {
            @include border-left-radius(3px);
        }

        &:last-child {
            @include border-right-radius(3px);
        }
    }
}

.input-submit {
    @include responsive-spacing(margin-top, 20px);
    text-align: center;
}

.form-bordered {
    clear: both;
    
    input, textarea, select {
        @include border-radius(3px);
        background-color: transparent;
        border: 1px solid $white;
        color: $white;

        @include input-placeholder {
            color: $white;
        }
    }
}