.gallery {
	ul {
		clear: both;

	    li {
	    	@include responsive-spacing(margin-bottom);
	        text-align: center;

	        @include breakpoint($tween) {
	        	//@include gallery(6 of 12);
	        	@include span(6 of 12 nest);
	        }

	        @include breakpoint($desktop) {
	        	//@include gallery(4 of 12);
	        	@include span(4 of 12 nest);
	        }

	        img {
				width: 100%;
	        }

	        a {
				display: block;
	        }

	        .item {
	        	width: 100%;
	        	margin: 0px auto;
	        	position: relative;
	    	}

	    	
		}
	}
}

// When there are only 3 items...
.gallery-3 {
	ul {
	    li {
	        @include breakpoint($tween) {
	        	//@include gallery(6 of 12);
	        	@include span(4 of 12 nest);
	        }
	    }
	}
}

.gallery-paired {
	ul {
		li {
	       	@include span(6 of 12 nest);

	        @include breakpoint($desktop) {
	        	@include span(4 of 12 nest);
	        }
		}
	}
}

.gallery-cutlast {
	ul {
		li {
			&:last-child {
				display: none;

				@include breakpoint($desktop) {
					display: block;
				}
			}
		}
	}
}