.modal {
	@include transition(opacity 250ms);
	@include opacity(0);
	position: fixed;
	visibility: hidden;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	height: 100%;
	z-index: 999;
	cursor: pointer;

	&.active {
		@include opacity(1);
		visibility: visible;

		.modal-content {
			margin-top: 0;
		}
	}

	.modal-background {
		@include opacity(0.7);
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		height: 100%;
		background-color: $black;
		//background-color: rgba(0, 0, 0, 0.7);
	}

	.modal-inner {
		@include vertical-center;
		position: absolute;
		//top: 20%;
		width: auto;
		
		left: $spacing-mobile;
		right: $spacing-mobile;
		cursor: pointer;
	}

	.modal-content {
		@include transition(margin-top 100ms);
		@include responsive-spacing();
		position: relative;
		margin: auto;
		margin-top: -40px;
		max-width: 700px;
		background-color: white;
		cursor: auto;
	}
}