.overlay-link {
    position: relative;
    display: block;

    &, &:hover {
        text-decoration: none;
        color: $text-color-dark;
    }

    .image {
        position: relative;
    }

    &:hover {
        .overlay-readmore {
            @include opacity(1);

            .overlay-background {
                @include opacity(0.6);
            }

            .caption {
                @include opacity(1);
                margin-left: 0;
            }
        }

        * {
            color: $brand-primary;
        }
    }
}

.overlay-static, .overlay-details, .overlay-readmore, .overlay-member {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    .overlay-background {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
}

.overlay-static {
    @include opacity(0.6);
    background-color: $black;
}

.overlay-details {
    cursor: pointer;

    &:hover {
        &:before {
            top: 20px;
            bottom: 20px;
            left: 20px;
            right: 20px;
            border: 1px solid rgba(255, 255, 255, 1);
        }

        .overlay-background {
            @include opacity(0.8);
            background-color: rgb(221, 22, 39);
        }

        .caption {
            margin-top: -30px;
        }

        .details {
            @include opacity(1);
        }
    }

    &:before {
        @include transition(all, 250ms);
        content: " ";
        position: absolute;
        top: -1px;
        bottom: -1px;
        left: -1px;
        right: -1px;
        border: 1px solid rgba(255, 255, 255, 0);
        z-index: 1;
    }

    .overlay-background {
        @include transition(all, 500ms);
        @include opacity(0.3);
        background-color: $black;
    }

    .caption-container {
        @include vertical-center;
    }

    .caption, .details {
        color: $white;
    }

    .caption {
        @include transition(all, 500ms);
        margin-top: 0;
        margin-bottom: 0px;
        text-align: center;
        padding: 0 20px;
        //margin-bottom: 0;
    }

    .details {
        //@include responsive-spacing(margin-top, 5px);
        @include opacity(0);
        @include transition(all, 500ms);
        @include adjust-font-size-to(16px);
        position: absolute;
        left: 20px;
        right: 20px;
        font-weight: $weight-thin;
    }
}

.overlay-readmore {
    z-index: 1;

    &:hover {
        @include opacity(1);

        .overlay-background {
            @include opacity(0.6);
        }

        .caption {
            @include opacity(1);
            margin-left: 0;
        }
    }

    .overlay-background {
        @include transition(all, 250ms);
        @include opacity(0);
        background-color: $black;
    }
    
    .caption-container {
        @include vertical-center;
    }
    
    .caption {
        @include transition(all, 500ms, ease-in);
        @include opacity(0);
        text-align: center;
        color: $white;
        margin-left: -20px;
        margin-bottom: 0px;

        .icon {
            margin-left: 10px;
            display: inline-block;
            vertical-align: middle;
            margin-top: -4px;
            color: $white;
        }
    }
}

.overlay-member {
    z-index: 1;

    &:hover {
        display: block;
        bottom: -1px;

        .overlay-background {
            @include opacity(0.8);
        }

        .caption, .links {
            @include opacity(1);
        }

        .caption {
            margin-top: 0;

            @include breakpoint($tween) {
                margin-top: -20px;
            }
        }

        .links {
            bottom: 40px;
        }
    }

    .overlay-background {
        @include transition(all, 250ms);
        @include opacity(0);
        background-color: rgb(221, 22, 39);
    }

    .caption, .links {
        @include transition(all, 250ms, ease-in-out);
        @include opacity(0);
    }

    .caption {
        @include vertical-center;
        color: $white;
        margin-top: -40px;
    }

    .links {
        position: absolute;
        bottom: 60px;
        right: 0;
        left: 0;
        text-align: center;
        display: none;

        @include breakpoint($tween) {
            display: block;
        }

        li {
            width: auto;
            float: none;
            display: inline-block;
            margin-bottom: 0;
        }

        a {
            @include encircle-color($white);
            color: $brand-primary;
        }
    }
}