@import "/scripts/libs/owlCarousel/owl.carousel.css";
//@import "/scripts/libs/owlCarousel/owl.transitions.css";

/*
*   Owl Carousel Owl Demo Theme 
*   v1.3.3
*/

.owl-controls {
    @include container;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    z-index: 2;
    margin-top: -50px;

    @include breakpoint($tablet) {
        margin-top: -60px;
    }

    // Buttons
    .owl-nav {
        display: inline-block;

        .owl-next, .owl-prev {
            position: absolute;
            color: $white;
            display: inline-block;
            zoom: 1;
            *display: inline;
            //margin: 0 10px;
            font-size: 60px;
            
            @include breakpoint($tablet) {
                font-size: 100px;
            }

            .icon {
                display: inline-block;
                vertical-align: middle;
                margin-top: -1px;
            }
        }

        .owl-next {
            right: -10px;
        }

        .owl-prev {
            left: -10px;
        }
    }
    &.clickable .owl-buttons div:hover {
        text-decoration: none;
    }

    // Dots
    .owl-dots {
        display: inline-block;
        vertical-align: middle;
        margin-bottom: -2px;

        .owl-dot {
            display: inline-block;
            zoom: 1;
            vertical-align: bottom;
            *display: inline;
            
            span {
                display: block;
                width: 14px;
                height: 14px;
                margin: 5px 4px;

                -webkit-border-radius: 20px;
                -moz-border-radius: 20px;
                border-radius: 20px;
                background: $white;
            }
            &.active span {
                background: $brand-primary;
            }
        }
    }
}

.owl-item {
    overflow: hidden;

    &.loading {
        min-height: 150px;
        background: url(/scripts/libs/owlCarousel/AjaxLoader.gif) no-repeat center center;
    }
}

.owl-carousel, .hero-block .contain, .hero-block .item, .owl-wrapper-outer, .owl-wrapper, .owl-stage, .owl-stage-outer, .owl-item { // We need 100% height
    height: 100%;
}

.owl-carousel {
    overflow: hidden;
    
    .body {
        @include opacity(0);
    }
}

.owl-carousel .active {
    .body {
        @include transition(all 150ms ease-in);
        @include opacity(1);
    }
}

.owl-carousel.transitioning, .owl-carousel.transitioning .active {
    .body {
        @include transition(all 150ms ease-out);
        @include opacity(0);
    }
}