.pagination {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    @include clearfix;
    a {
        border-radius: 50%;
        display: inline-block;
        padding: 5px 10px;
        border: 1px solid $brand-primary;
        color: $brand-primary;
        &.next-prev {
            border: none;
        }
        &.next-prev.disabled, &.next-prev.disabled:hover {
            cursor: default;
            color: #666666;
            text-decoration: none;
            border: none;
        }
        &.current {
            text-decoration: none;
            background-color: $brand-primary;
            color: $white;
        }
    }
    a:hover{
        cursor: pointer;
    }
}