.sticker {
    display: none;
    position: fixed;
    bottom: 0;
    right: 0;
    text-align: right;
    padding-right: 7px;
    padding-bottom: 10px;
    z-index: 1;

    @include breakpoint($desktop) {
        display: block;
    }

    a:hover {
        text-decoration: none;
    }

    .image img {
        width: 50px;
        margin-bottom: 4px;
    }

    .body {
        @include adjust-font-size-to(16px);
        color: $umbraco-gold-color;
    }

    &:before {
        content: " ";
        position: absolute;
        bottom: 0;
        right: 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 0 170px 170px;
        border-color: transparent transparent #ffffff transparent;
        z-index: -2;
    }

    &:after { // Shadow
        content: " ";
        position: absolute;
        width: 320px;
        height: 320px;
        transform: rotate(45deg);
        box-shadow: -1px -1px 10px -3px rgba(0, 0, 0, 0.5);
        right: -188px;
        bottom: -188px;
        z-index: -1;
    }
}