// Body
body {
    font-family: $font-family-base;
}

p {
    margin-top: 0;
    margin-bottom: $base-line-height;
    //font-weight: $weight-normal; // Appearing quite bold on my computer
    font-weight: $weight-thin;
    //@include adjust-font-size-to(18px);
    
    &:last-child {
        margin-bottom: 0;
    }

    a {
        text-decoration: underline;
    }
}

a, .link {
    color: $link-color;
    text-decoration: none;

    &:hover, &:focus {
        color: $link-hover-color;
        text-decoration: underline;
    }

    &:focus {
        @include tab-focus;
    }
}

.link-dark {
    color: $text-color;

    &:hover, &:focus {
        color: $link-hover-color;
        text-decoration: underline;
    }
}

.link-darker {
    color: $text-color-dark;

    &:hover, &:focus {
        color: $link-hover-color;
        text-decoration: underline;
    }
}

b, .bold {
    font-weight: $weight-bold;
}

.thin {
    font-weight: $weight-thin;
}


// # Headings
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    color: $text-color-dark;
    font-family: $font-family-heading;
    font-weight: $weight-normal;

}

h1, .h1 {
    @include adjust-font-size-to(24px);
    //text-transform: uppercase;
    font-weight: $weight-thin;

    @include breakpoint($tablet) {
        @include adjust-font-size-to(45px);
    }

    @include breakpoint($desktop) {
        @include adjust-font-size-to(58px);
    }
}

h2, .h2 {
    @include adjust-font-size-to(21px);
    text-transform: uppercase;
    
    @include breakpoint($tablet) {
        @include adjust-font-size-to(28px);
    }
}

h3, .h3 {
    @include adjust-font-size-to(19px);
    
    @include breakpoint($tablet) {
        @include adjust-font-size-to(24px);
    }
}

h4, .h4 {
    @include adjust-font-size-to(17px);
    
    @include breakpoint($tablet) {
        @include adjust-font-size-to(20px);
    }
}

h5, .h5 {
    @include adjust-font-size-to(14px);
    
    @include breakpoint($tablet) {
        @include adjust-font-size-to(16px);
    }
}

h6, .h6 {
    @include adjust-font-size-to(13px);
    
    @include breakpoint($tablet) {
        @include adjust-font-size-to(14px);
    }
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 { // Override the margin we get... a bit hacky, but meh
    margin-top: 0;
    @include responsive-spacing(margin-bottom, 10px);
    @include adjust-leading-to(1);
}


// Classes
.mainHeading {
    @include adjust-font-size-to(20px);
    font-family: $font-family-heading;
    margin-bottom: 10px;
    color: $brand-light;
}

.body-heading {
    h2 {
        border-bottom: 1px solid $blue-alt;
        padding-bottom: 5px;
    }
}

.uppercase {
    text-transform: uppercase;
}

.highlight {
    color: $brand-primary;
}

.subbed {
    margin-bottom: 0;
}