// Trying to make it work with the breakpoint thing for the benefit of IE8...
@include breakpoint($mobile) {
    .hidden-mobile {
        display: none;
    }
}

@include breakpoint($tween) {
    .hidden-mobile {
        display: block;
    }
    .hidden-tween {
        display: none;
    }
}

@include breakpoint($tablet) {
    .hidden-tween {
        display: block;
    }
    .hidden-tablet {
        display: none;
    }
}

@include breakpoint($desktop) {
    .hidden-tablet {
        display: block;
    }
    .hidden-desktop {
        display: none;
    }
}

@include breakpoint($desktop-l) {
    .hidden-desktop {
        display: block;
    }
    .hidden-desktop-l {
        display: none;
    }
}
