@font-face {
    font-family: 'brandon_icons';
    src: url("/fonts/brandon_icons.eot?55363371");
    src: url("/fonts/brandon_icons.eot?55363371#iefix") format("embedded-opentype"), url("/fonts/brandon_icons.woff?55363371") format("woff"), url("/fonts/brandon_icons.ttf?55363371") format("truetype"), url("/fonts/brandon_icons.svg?55363371#brandon_icons") format("svg");
    font-weight: normal;
    font-style: normal;
}


/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'brandon_icons';
    src: url('../font/brandon_icons.svg?55363371#brandon_icons') format('svg');
  }
}
*/

// [class^="icon-"]:before, [class*=" icon-"]:before {
//     font-family: "brandon_icons";
//     font-style: normal;
//     font-weight: normal;
//     speak: none;
//     display: inline-block;
//     text-decoration: inherit;
//     width: 1em;
//     margin-right: .2em;
//     text-align: center;
//     /* opacity: .8;
//     /* For safety - reset parent styles, that can break glyph codes
//     font-variant: normal;
//     text-transform: none;
//     /* fix buttons height, for twitter bootstrap
//     line-height: 1em;
//     /* Animation center compensation - margins should be symmetric
//     /* remove if not needed
//     margin-left: .2em;
//     /* you can be more comfortable with increased icons size
//     /* font-size: 120%;
//     /* Uncomment for 3D effect
//     /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3);
// }