// # Scaffolding
// --------------------------------------------------

// Vertical Rhythm
@include establish-baseline;

// # Reset the box-sizing
.front-end {
    * {
        @include box-sizing(border-box);
    }
    *:before,
    *:after {
        @include box-sizing(border-box);
    }
}

#canvas * {
    @include box-sizing(border-box);
}

.box {
    * {
        @include box-sizing(border-box);
    }
    *:before,
    *:after {
        @include box-sizing(border-box);
    }
}

// # Top Levels
html {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    //@include adjust-leading-to(2);
    color: $text-color;
}

body {
    //@include container;
    //@include show-grid(overlay);
}

body.front-end {
    position: relative;
    overflow-x: hidden;
    background-color: $body-bg;
}

section, footer {
    clear: both;
}


// # Elements
ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

video {
    width: 100% !important;
    height: 100% !important;
    /*@include breakpoint(tablet-horizontal) {
        width: auto !important;
        height: auto !important;
    }*/
}

img {
    vertical-align: middle;
}

.img-responsive {
    @include img-responsive;
}


// # Hiders
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}


// # CMS
.pageWysiwygBlock {
    margin-bottom: 10px;
}

.pageWysiwygBlock ul {
    color: $brand-primary;
}

.pageWysiwygBlock a {
    text-decoration: underline;
}

.mceContentBody {
    img {
        max-width: 100%;
        height: auto;
    }
}

// Set margins to push text of left/right floated images in WYSIWYG editor
.mceContentBody {
    img[align="left"],
    img[style*="float: left"],
    img[style*="float:left"] {
        margin: 5px 10px 0px 0px;
    }
    img[align="right"],
    img[style*="float: right"],
    img[style*="float:right"] {
        margin: 5px 0px 0px 10px;
    }
}


// # General helpers
.padded {
    padding: $spacing-mobile;
}

.padded-x {
    @include responsive-spacing(padding-left, $spacing-mobile);
    @include responsive-spacing(padding-right, $spacing-mobile);
}

.padded-y {
    @include responsive-spacing(padding-top, $spacing);
    @include responsive-spacing(padding-bottom, $spacing);
}

.padded-nested { // Basically, if it's nesting padded-x elements, then we need to half all the padding otherwise we get crazy gutter sizes
    @include clearfix; 
    
    &, .padded-x {
        @include responsive-spacing(padding-left, $spacing-mobile/2);
        @include responsive-spacing(padding-right, $spacing-mobile/2);
    }
}

.padded-gallery { // Same as the above, but we don't want to mix them so let's just repeat...
    @include clearfix;

    &, li {
        @include responsive-spacing(padding-left, $spacing-mobile/2);
        @include responsive-spacing(padding-right, $spacing-mobile/2);
    }
}

.vertical-center {
    @include vertical-center;
}

.pull-bottom {
    padding-bottom: 0;
    margin-bottom: 0;
}

.background-gray-dark {
    background-color: $gray-darker;

    .contain, h2, h3, p {
        color: $white;
    }
}

.background-gray {
    background-color: $gray-lighter;
}

.background-white {
    background-color: $white;
}

.background-primary {
    background-color: $brand-primary;
}

.clear {
    clear: both;
}

.backgrounded {
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    .backgrounded-overlay {
        @include opacity(0.8);
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: black;
        //background-color: rgba(0, 0, 0, 0.8);
    }

    .contain, .intro h2, .intro p {
        color: $white;
    }
}


// # Global blockish elements too small to be blocks
.intro {
    @include responsive-spacing(margin-bottom, 20px);
    text-align: center;

    @include breakpoint($tablet) {
        @include span(isolate 10 at 2);
    }
    
    h2 {
        @include responsive-spacing(margin-bottom, 3px);
        font-size: 28px;
        color: $text-color-dark;
    }

    h3 {
        margin-bottom: 0;
        font-weight: $weight-thin;
    }

    p {
        font-size: 18px;
        color: $text-color;
    }
}

.viewmore {
    @include responsive-spacing(padding-top);
    text-align: center;
    clear: both;
}

.fill-width {
    width: 100%;
}

.masked {
    overflow: hidden;
}

.list-inlined {
    li {
        display: inline-block;
        float: none;
        width: auto;
        margin-bottom: 0;
    }
}


.list-dashed{
    a {
        @extend .link-darker;
        @include adjust-font-size-to(16px);
        margin-bottom: 2px;
    }

    li {
        &:before {
            content: "- ";
        }
    }
}

.drag {
    text-align: center;

    .icon {
        display: block;
        margin-bottom: -20px;
        font-size: 100px;
        color: $gray-darker;
        text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
    }
}