// # IE Support
$legacy-support-for-ie6: false;
$legacy-support-for-ie7: false;
$legacy-support-for-ie8: true;


// # Grid
$grid: 1200px;
$hero-container-width: 1960px;


// # Susy setup
$container-width: 1240px;
$total-columns: 12;
$column-width: 80px;
$gutter-width: 1 / 4;
$global-box-sizing: border-box;
$gutter-position: split;
$container-style: fluid;

$susy: (columns: $total-columns, math: $container-style, gutters: $gutter-width, container: $container-width, column-width: $column-width, global-box-sizing: $global-box-sizing, gutter-position: $gutter-position);


// # Breakpoints
$retina: min-resolution 1.5dppx;

$mobile: 1px, "no-query" true;
$tween: 480px, "no-query" true;
$tablet: 768px, "no-query" true;
$desktop: 960px, "no-query" true;
$desktop-l: 1200px, "no-query" true;

$mid-tablet: 480px, "no-query" true;
$large: 769px, "no-query" true;
$slider-controls: 769px 1160px, "no-query" true;


// # Typography
$base-font-size: 18px;
//$base-line-height: 21px;
$base-line-height: 23px;

$weight-thin: 300;
$weight-normal: 500;
$weight-bold: 700;

$font-family-base: "museo-sans-rounded", Tahoma, Segoe, sans-serif !default;
$font-family-heading: "museo-sans-rounded", Tahoma, Segoe, sans-serif !default;
$font-icons: "brandon_icons";


// # Colors
$brand-primary: #dd1627 !default;
$brand-light: #cc3333 !default;
$brand-lightest-extreme: #e83138 !default;

$light-blue: #cce1ea;
$blue: #408db2;
$blue-alt: #66a4c1;
$sky-blue: #00b3c8;
$blue-line: #bad6e3;
$orange: #fe9302;
$green: #99c612;
$green-light: lighten($green, 10%);
$pink: #e2007a;
$gold: #f37121;

$black: black;
$white: white;


// # Grays
$gray-darkest: #333333 !default;
$gray-darker: #666666 !default;
$gray-dark: #505b69 !default;
$gray: lighten(black, 40%) !default;
$gray-light: #cccccc !default;
$gray-lighter: #e6e6e6 !default;
$gray-lightest: #efefef !default;


// # Semantical color usage
$body-bg: $white !default;

$text-color: $gray-dark !default;
$text-color-dark: $gray-darkest;
$text-color-light: $gray;

$link-color: $brand-primary;//$gray-darkest;
$link-hover-color: $brand-lightest-extreme !default;

$nav-link-color: $gray-darkest;
$nav-link-hover-color: $brand-lightest-extreme;

$contact-title-color: $brand-light;
$twitter-link-color: $brand-light;
$section-bg-color: $gray-light;
$section-bg-color-light: $gray-lighter;

$tweet-foot-color: $gray-darker;

$umbraco-gold-color: $gold;


// # Border radius
$border-radius-base: 5px !default;
$border-radius-large: 10px !default;
$border-radius-small: 3px !default;


// # Images
$arrows-sprite-url: url("/images/arrows.png");


// # Dimension variables
$indent-amount: 30px;
$spacing: 25px;
$spacing-mobile: 10px;