@mixin alpha-attribute($attribute, $color, $background) {
    $percent: alpha($color) * 100%;
    $opaque: opacify($color, 1);
    $solid-color: mix($opaque, $background, $percent);
    #{$attribute}: $solid-color;
    #{$attribute}: $color;
}

@mixin replace-with-image($icon) {
    @include spritesheet-sprite($icon);
    height: spritesheet-sprite-height($icon);
    width: spritesheet-sprite-width($icon);
    @include hide-text;
}

@mixin arrows-double($type) {
    position: relative;
    padding-right: 15px;
    &:after {
        display: block;
        content: '';
        position: absolute;
        right: 0px;
        top: 5px;
        @include replace-with-image($type);
    }
}

//This mixin will need to be upated if used, to add the correct padding and poisitioning. 
//Currently this is just a duplicate of arrows-double mixin.
@mixin arrow($type) {
    position: relative;
    padding-right: 15px;
    &:after {
        display: block;
        content: '';
        position: absolute;
        right: 0px;
        top: 5px;
        @include replace-with-image($type);
    }
}

@mixin side-pad {
    padding-left: $grid-padding;
    padding-right: $grid-padding;
}

// Sizing shortcuts
@mixin size($width, $height) {
    width: $width;
    height: $height;
}

// Single side border-radius
@mixin border-top-radius($radius) {
    border-top-right-radius: $radius;
    border-top-left-radius: $radius;
}

@mixin border-right-radius($radius) {
    border-bottom-right-radius: $radius;
    border-top-right-radius: $radius;
}

@mixin border-bottom-radius($radius) {
    border-bottom-right-radius: $radius;
    border-bottom-left-radius: $radius;
}

@mixin border-left-radius($radius) {
    border-bottom-left-radius: $radius;
    border-top-left-radius: $radius;
}

// Placeholder text
@mixin placeholder($color: $input-color-placeholder) {
    &::-moz-placeholder {
        color: $color;
        // Firefox
        opacity: 1;
    }
    // See https://github.com/twbs/bootstrap/pull/11526
    &:-ms-input-placeholder {
        color: $color;
    }
    // Internet Explorer 10+
    &::-webkit-input-placeholder {
        color: $color;
    }
    // Safari and Chrome
}

// Text overflow
// Requires inline-block or block for proper styling
@mixin text-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

// Backface visibility
// Prevent browsers from flickering when using CSS 3D transforms.
// Default value is `visible`, but can be changed to `hidden`
@mixin backface-visibility($visibility) {
    -webkit-backface-visibility: $visibility;
    -moz-backface-visibility: $visibility;
    backface-visibility: $visibility;
}

// Box sizing
@mixin box-sizing($boxmodel) {
    -webkit-box-sizing: $boxmodel;
    -moz-box-sizing: $boxmodel;
    box-sizing: $boxmodel;
}

// User select
// For selecting text on the page
@mixin user-select($select) {
    -webkit-user-select: $select;
    -moz-user-select: $select;
    -ms-user-select: $select;
    // IE10+
    user-select: $select;
}

// Dividers (basically an hr) within dropdowns and nav lists
@mixin nav-divider($color: $gray-lightest) {
    height: 1px;
    margin: $line-height-computed / 2 - 1 0;
    overflow: hidden;
    background-color: $color;
}

// WebKit-style focus
@mixin tab-focus {
    // Default
    outline: thin dotted;
    // WebKit
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

@mixin static-grid {
    width: $grid;
    margin: 0 auto;
    &:after {
        content: " ";
        display: block;
        clear: both;
    }
}

// ie Fallback static grid will render in IE8 stylesheet if $fixed container variable exists
@mixin container-render {
    @if variable-exists(fixed-container) {
        @include static-grid;
    }
    @else {
        @include container($grid);
    }
}

// outline helper
@mixin out($color: pink, $width: 1px) {
    outline: $width solid $color;
}


@mixin tablefy($gutter: 10px, $vertical-align: middle, $nested: false) {
    display: table;
    width: 100%;

    & > * {
        display: table-cell;
        padding: 0 $gutter;
        //width: 1%;
        vertical-align: $vertical-align;

        @if $nested {
            &:first-child {
                padding-left: 0;
            }
            &:last-child {
                padding-right: 0;
            }
        }
    
        // The visibility helper sets display block, which can break tablefy, so this is the fix...
        @include breakpoint($mobile) {
            &.hidden-mobile {
                display: none;
            }
        }

        @include breakpoint($tween) {
            &.hidden-mobile {
                display: table-cell;
            }
            &.hidden-tween {
                display: none;
            }
        }

        @include breakpoint($tablet) {
            &.hidden-tween {
                display: table-cell;
            }
            &.hidden-tablet {
                display: none;
            }
        }

        @include breakpoint($desktop) {
            &.hidden-tablet {
                display: table-cell;
            }
            &.hidden-desktop {
                display: none;
            }
        }

        @include breakpoint($desktop-l) {
            &.hidden-desktop {
                display: table-cell;
            }
            &.hidden-desktop-l {
                display: none;
            }
        }
    }
}

@mixin untablefy() {
    display: block;

    & > * {
        display: block;
        width: auto;
        padding: 0;
    }
}

// eg. responsive-spacing(margin-top, 10px)... will scale for desktop...
@mixin responsive-spacing($attribute: padding, $dimension: $spacing-mobile) {
    #{$attribute}: $dimension;

    @include breakpoint($tablet) {
        #{$attribute}: $dimension * 2;
    }
}


@mixin vertical-center {
    @include transform(translateY(-50%));
    //position: relative;
    position: absolute;
    top: 50%;
    width: 100%;
}