%box-shadows {
    &:before, &:after {
        z-index: -1;
        position: absolute;
        content: "";
        bottom: 16px;
        left: 10px;
        width: 50%;
        top: 8%;
        max-width: 50%;
        background: transparent;
        box-shadow: 0 15px 10px rgba(0, 0, 0, 0.5);
        border-radius: 42%;
        border: 29px solid transparent;
    }
    &:after {
        right: 10px;
        left: auto;
    }
}