// # Placeholders
// --------------------------------------------------

%button {
    padding: 0.5em 1.3em;
    background-color: $blue-alt;
    color: white;
    border: none;
    font-size: $base-font-size * 1.1;
    margin: 10px 0;
    @include transition-duration(0.3s);
    &:hover {
        @include box-shadow(rgba(255, 255, 255, 0.5) 0 0 0px 0.2em inset);
        text-decoration: none;
    }
    .lt-ie9 & {
        @include pie;
    }
    .no-csstransforms &:hover {
        background-color: lighten($brand-primary, 15%);
    }
}

%hide-text {
    display: inline-block;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

%read-more {
    font-weight: bold;
    display: inline-block;
    clear: both;
    border-bottom: 1px solid $white;
    &:after {
        content: "\e803";
        font-family: $font-icons;
        font-size: 0.8em;
        padding-left: 5px;
    }
    &:hover {
        text-decoration: none;
        border-bottom: 1px solid $brand-primary;
        &:after {
            border: none;
        }
    }
    span {
        @extend %sr-only;
    }
}

%sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
    border: 0;
}