.aboutus-block {
	.aspects {
		.aspect {
			@include tablefy(0, middle, true);
			@include responsive-spacing(margin-bottom);

			@include breakpoint($tablet) {
				@include untablefy();
				@include span(4 of 12 nest);
			}

			.content-container {
				@include tablefy(0, middle, true);

				@include breakpoint($tablet) {
					@include untablefy();
				}

				.image {
					min-width: 100px;
				}

				.body {
					@include responsive-spacing();
					height: 100%;
					width: 100%;
					background-color: $white;
					text-align: center;

					h3 {
						
						@include responsive-spacing(margin-bottom, 2px);
					}

					p {
						@include adjust-font-size-to(15px);
						display: none;

						@include breakpoint($desktop) {
							display: block;
						}
					}
				}
			}

			
		}
	}
}