.article-block {
	@include clearfix;

	.body {
		@include breakpoint($tablet) {
			@include span(8 nest);
		}

		@include breakpoint($desktop) {
			@include span(8 nest);
		}
	}

	.sidebar {
		@include breakpoint($tablet) {
			@include span(4 nest);
		}

		@include breakpoint($desktop) {
			@include span(4 nest);
		}

		& > div {
			@include responsive-spacing(margin-bottom, 20px);
		}

		.social-links {
			.encircled-social {
				@include encircle-color($gray-light);
				margin-right: 6px;
			}

			.icon {
				color: $white;
			}
		}

		.latest-news {
			li {
				margin-bottom: 5px;
			}
		}

		.categories {
			margin-top: 40px;

			li {
				text-transform: uppercase;
				margin-bottom: 10px;
			}
		}
	}

	iframe[allowfullscreen] { // Umm...

	}
}