.author-block {
	

	.content {
		@include tablefy(10px, top, true);
		max-width: 850px;
		margin: auto;
	}

	.image {
		min-width: 50px;

		@include breakpoint($tablet) {
			min-width: 150px;
		}

		img {
			@include encircle(50px);
			
			@include breakpoint($tablet) {
				@include encircle(150px);
			}
		}
	}

	.body {

	}

	.social-links {
		.h4 {
			display: inline-block;
			text-transform: uppercase;
			margin-right: 15px;
			margin-bottom: 15px;
		}

		.list-inlined {
			display: inline-block;
			vertical-align: middle;
  			margin-top: -6px;
		}

		.encircled-social {
			@include encircle-color($gray);
			color: $gray-lighter;
			margin-right: 5px;
		}
	}
}