.body-block {
	text-align: center;

    .nav {
        li {
            @include adjust-font-size-to(14px);
        	position: relative;
            display: inline-block;
            padding: 0 5px;
            text-transform: uppercase;

            @include breakpoint($tween) {
                @include adjust-font-size-to(18px);
                padding: 0 20px;
            }

            &:before {
                content: "|";
            	position: absolute;
            	left: -2px;
            }

            &:first-child:before {
                content: "";
            }
        }
    }
}