.bodyimage-block {
	@include breakpoint($tablet) {
		@include tablefy(10px, top, true);
	}

	.body {
		@include breakpoint($tablet) {
			@include span(5 nest);
		}
	}

	.image {
		text-align: center;

		@include breakpoint($tablet) {
			@include span(7 nest);
		}

		img {
			display: inline-block;
		}
	}

	.body + .image, .image + .body {
		margin-top: 20px;

		@include breakpoint($tablet) {
			margin-top: 0;
		}
	}

	&.even {
		.body {
			@include breakpoint($tablet) {
				@include span(6 nest);
			}
		}

		.image {
			@include breakpoint($tablet) {
				@include span(6 nest);
			}
		}
	}
}