.campaign-block {
	@include clearfix;

	.body {
		@include breakpoint($tablet) {
			@include span(8 nest);
		}

		@include breakpoint($desktop) {
			@include span(9 nest);
		}
	}

	.sidebar {
		@include breakpoint($tablet) {
			@include span(4 nest);
		}

		@include breakpoint($desktop) {
			@include span(3 nest);
		}

		.social-links {
			@include responsive-spacing(margin-bottom);

			.encircled-social {
				@include encircle-color($gray-light);
				margin-right: 6px;
			}

			.icon {
				color: $white;
			}
		}
	}

	iframe[allowfullscreen] { // Umm...

	}
}