.comparison-block {
	@include breakpoint($desktop) {
		@include tablefy(10px, top, true);
	}

	.comparer {
		@include breakpoint($desktop) {
			@include span(9 top nest);
		}

		.compare-wrapper {
			padding: 0 0.5%;
			background-image: url('/images/browser-middle.png');
			background-size: contain;
			background-repeat: repeat-y;

			.twentytwenty-handle {
				background-color: $gray-darker;
			}
		}
	}

	.body {
		margin-bottom: 20px;

		@include breakpoint($desktop) {
			@include span(3 top nest);
			margin-bottom: 0;
		}
	}
}