.contact {
	padding: 50px 0px;
	background: $section-bg-color-light;
	color: $text-color-dark;
	font-size: 14px;

	.contactCol {
		@include span(4);

	}

	h2 {
		margin: 0px;
		margin-bottom: 15px;
		font-size: 18px;
		line-height: 18px;
	}

	ul {
		li {
			margin: 7px 0px;
		}
	}

	a {
		&.socialbtn {

			display: inline-block;
			width: 48px;
			height: 48px;
		}
	}

	.twitter_feed {
		a {
			color: $twitter-link-color;
			text-decoration: none;

		}
	}
}

