.feature-block {
    margin-bottom: 20px;
    .block-image {
        img {
            width: 100%;
        }
    }
    .block-title {
        margin: 0;
        background-color: $brand-primary;
        color: $white;
        a, span {
            padding: 10px;
            display: block;
            color: $white;
        }
    }
}