
.gallery {

	.intro {
		text-align: center;
		@include span(isolate 10 at 2);
		margin-top: 50px;
		margin-bottom: 50px;
		
		h2 {
			font-size: 28px;
			color: $text-color-dark;
			margin: 0px;
		}

		p {
			font-size: 18px;
			color: $text-color;
		}


	}

	ul {
	    li {
	    	margin-bottom: 20px;
	        @include gallery(4 of 12);
	        text-align: center;

	         .item {
	        	width: 100%;
	        	margin: 0px auto;
	        	position: relative;
	        	
	    	}

		}

	}
}
	