.body-heading {
    h2 {
        margin-top: 0;
        padding: 9px 10px;
        @include breakpoint($large) {
            padding: 7px 0;
        }

        .blue & {
            color: $sky-blue;
            border-bottom: 1px solid $sky-blue;
        }
        .green & {
            color: $green;
            border-bottom: 1px solid $green;
        }
        .orange & {
            color: $orange;
            border-bottom: 1px solid $orange;
        }
    }
}