.hero-block {
	width: 100%;
	height: 320px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;

	@include breakpoint($tablet) {
		height: 480px;
	}

	@include breakpoint($desktop) {
		height: 430px;
	}
	
	h1, h2, h3, h4, h5 {
		color: $white;
		padding-left: 50px;
  		padding-right: 50px;
  		margin-bottom: 0;

  		@include breakpoint($tablet) {
			padding-left: 80px;
	  		padding-right: 80px;
  		}
	}

	h4 {
		font-weight: $weight-thin;
	}

	a {
		color: $white;
		text-decoration: underline;

		&.btn {
			text-decoration: none;
		}
	}

	.body {
		position: relative;
		z-index: 1;
		text-align: center;

		* + * {
			@include responsive-spacing(margin-top, 15px);
		}
	}

	[data-toggle] {
		@include transition(color 100ms);
		color: $white;
		color: rgba($white, 0.7);
		font-size: 180px;
		margin-bottom: 20px;

		&:hover {
			color: $brand-primary;
			color: rgba($brand-primary, 0.7);
		}
	}

	.icon-play-circle {
		margin-left: 30px;
	}

	.carousel-casestudies {
		.ajaxlink {
			display: none;
		}
	}
}

.lt-ie8, .ie9 {
	.hero-block .carousel-casestudies {
		.ajaxlink {
			display: inline-block;
		}
	}
}