.hero {
	max-width: 1920px;
	width: 100%;
	height: 480px;
	position: relative;
	margin: 0 auto;
	overflow: hidden;

	.heroImage {
		display: block;
		position: absolute;
		width: 100%;
		height: auto;
		bottom: 0px;
		left: 50%;
		margin-left: -980px;
		z-index: -1;

		img {
			width: 1960px;
			height: auto;
			display: block;
		}
	}


	.heroCover {
		height: 100%;
		background: rgba(0,0,0,0.2);
	}

	.heroText {
		@include span(isolate 10 at 2);
		position: absolute;
		z-index: 1;
		top: 0px;
		text-align: center;
		margin-top: 180px;
		font-size: 58px;
		line-height: 58px;
		color: $white;
	}
}


