.latestnews-block {
	.article {
		@include responsive-spacing(margin-bottom);

		.image {
			img {
				width: 100%;
			}
		}

		.body, .details {
			@include responsive-spacing();
			background-color: $white;
			color: $text-color-dark;
			text-align: center;
		}

		.body {
			p {
				@include adjust-font-size-to(14px);
				display: none;

				@include breakpoint($tablet) {
					display: block;
				}
			}
		}

		.details {
			@include adjust-font-size-to(14px);
			padding-top: 0;

			@include breakpoint($tablet) {
				padding-bottom: 6px;
			}
			
			@include breakpoint($desktop) {
				padding-top: 8px;
				padding-bottom: 20px;
			}

			.detail {
				margin: 0 10px;
				margin-bottom: 10px; // Making up the space to be vertically aligned...
				display: none;

				@include breakpoint($tablet) {
  					display: inline-block;
				}

				.icon {
					margin-right: 5px;
					display: inline-block;
					vertical-align: middle;
					margin-top: -7px;
					font-size: 22px;
					color: $gray-light;
				}
			}

			.tag {
				display: inline-block;
			}

			.author {
				.icon {
					border-radius: 50%;
				}
			}
		}
	}

	.feature {
		@include breakpoint($tablet) {
			@include span(8 nest);
		}

		@include breakpoint($desktop) {
			@include span(6 nest);
		}

		.body {
			@include breakpoint($tablet) {
				height: 200px; // Explicitly set, because we want these aligned on desktop and hopefully tablet
			}
		}
	}

	.others {
		@include breakpoint($tablet) {
			@include span(4 nest);
		}

		@include breakpoint($desktop) {
			@include span(6 nest);
		}

		.article {
			@include breakpoint($tablet) {
				@include span(12 nest);
			}

			@include breakpoint($desktop) {
				@include span(6 nest);
			}

			&:nth-child(3), &:nth-child(4) {
				@include breakpoint($tablet) {
					display: none;
				}

				@include breakpoint($desktop) {
					display: block;
				}
			}

			.content-container {
				@include tablefy(0, middle, true);

				@include breakpoint($tablet) {
					@include untablefy();
				}
			}

			.body {
				height: 100%;
				width: 100%;
				text-align: left;

				h3, h6 {
					@include responsive-spacing(padding, 8px);
					margin-bottom: 0;
					max-height: 57px; // Height of the image...

					@include breakpoint($tablet) {
						text-align: center;
						max-height: none;
						height: 66px; // Explicitly set, because we want these aligned on desktop and hopefully tablet
					}
				}
			}

			.image {
				min-width: 100px;
			}
		}
	}
}