.logos-block {
	ul {
		clear: both;
		padding-top: 20px;
		padding-bottom: 20px;

		@include breakpoint($tablet) {
			@include tablefy(10px, middle, true);
		}

		.inner {
			@include tablefy(10px, middle, true);
		}

	    li {
	        //@include gallery(2 of 12);
	        text-align: center;
	        margin: 20px 0px;
		}

		a {
			display: inline-block;
		}
	}

    img {
        //@include img-responsive;
        display: inline-block;
        width: auto;
        max-width: 100%;
    }
}