header {
    nav {
        @include span(isolate 6 at 4 wider rtl);

        .menu {
            float: right;
            margin: 30px 0px;

            li {
                display: inline-block;
                float: left;
                font-size: 14px;
                margin: 0px 12px;

                a {
                    text-decoration: none;
                }
            }
        }
    }

    .ctaButtonHolder {
        @include span(3 wider rtl);
        text-align: right;
        margin-top: 30px;

        .ctaButton {
            
            

            border-width: 2px;
            border-color: $nav-link-color;
            color: $nav-link-color;
            font-size: 14px;
            padding: 12px 15px;
            font-weight: bold;

            &:hover {
                color: $nav-link-color;
            }
        }
    }


}