.maps-block { // Apologies for the mess of spans and tablefying... the layout changes require it...
	.map {
		margin-bottom: $spacing;

		@include breakpoint($tablet) {
			@include span(6 nest);
			margin-bottom: 0;
		}

		@include breakpoint($desktop) {
			@include tablefy(0, top, true);
			@include span(6 nest);
		}

		&:last-child {
			margin-bottom: 0;
		}

		.image, .body {
			height: 100%;

			@include breakpoint($desktop) {
				@include span(6 nest);
				float: none;
			}
		}

		.image {
			display: block;
			min-height: 250px;

			@include breakpoint($desktop) {
				display: table-cell;
			}

			@include breakpoint($desktop) {
				min-height: initial;
			}
		}

		.body {
			background-color: $gray-lighter;
			@include responsive-spacing(padding, 10px);

			h3, h4 {
				margin-bottom: 0;
			}

			.icon {
				color: $brand-primary;
				width: 20px;
				vertical-align: middle;
			}

			.icon-phone {
				font-size: 20px;
			}

			.address, .tel, .email {
				margin-bottom: 10px;

				&:last-child {
					margin-bottom: 0;
				}
			}

			.tel, .email {
				white-space: nowrap;
			}
		}
	}
}