html, body { // Stop scrolling when mobile menu active...
    width: 100%; // This is needed to get overflow hidden working for mobile devices... however, if I change this in CSS, some devices hide random bits of content, until you rotate the device or something, weird!
    height: 100%;
    &.menu-down {
        overflow: hidden;

        @include breakpoint($desktop) {
            overflow: auto;
        }
    }
}

header {
    background: $white;

    //.contain {
        @include tablefy(10px, middle, true);
    //}

    .logo-container {
        min-width: 139px;
        padding: $spacing-mobile 0;

        @include breakpoint($desktop) {
            padding: $spacing 0;
        }
    }

    .main-nav {
        width: 100%;
        text-align: right;

        .controls {
            display: block;

            @include breakpoint($desktop) {
                display: none;
            }

            .btn-menu, .btn-close {
                &:hover {
                    text-decoration: none;
                }
            }

            .btn-menu {
                @include border-radius(3px);
                @extend .link-darker;
                display: inline-block;
                padding: 5px 8px;
                background-color: $gray-lighter;

                &.menu-down {
                    display: none;
                }

                .icon {
                    margin-left: 2px;
                    margin-top: 3px;
                }
            }

            .btn-close {
                display: none;
                color: $white;
                position: relative;
                z-index: 9;
                padding: 13px 16px;

                &.menu-down {
                    display: inline-block;
                }

                &:hover {
                    color: $brand-primary;
                }
            }
        }

        .menu {
            display: none;
            position: fixed;
            background-color: black;
            background-color: rgba(0, 0, 0, 0.9);
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 8;
            text-align: center;
            padding-top: 40px;
            overflow-y: auto;

            @include breakpoint($desktop) {
                display: block;
                position: static;
                background-color: transparent;
                text-align: right;
                padding-top: 0;
                overflow-y: visible;
            }

            li {
                display: block;
                margin: 20px 0;
                font-weight: $weight-thin;

                @include breakpoint($desktop) {
                    font-weight: $weight-normal;
                    display: inline-block;
                    margin: 0px 17px;
                    font-weight: $weight-bold;
                }

                a {
                    @include adjust-font-size-to(24px);
                    text-decoration: none;
                    color: $white;
                    display: block;

                    @include breakpoint($desktop) {
                        @include adjust-font-size-to(14px);
                        color: $text-color-dark;
                    }
                }

                .btn {
                    display: inline-block;
                    color: $white;

                    &:hover {
                        color: $white;
                    }
                }

                &.active, &:hover {
                    a {
                        color: $brand-primary;
                    }
                }
            }
        }
    }

    /*.cta-container {
        display: none;

        @include breakpoint($desktop) {
            display: table-cell;
        }
    }*/
}