.news-block {
	.article {
		.content-container {
			@include tablefy(0px, middle, true);

			@include breakpoint($tablet) {
				@include untablefy;
			}

			.image {
				min-width: 100px;
			}

			.body {
				height: 100%;
				width: 100%;

				h4 {
					@include responsive-spacing(padding, 8px);
					max-height: 47px;
					margin-bottom: 0;

					@include breakpoint($tablet) {
						max-height: none;
						height: 84px;
					}
				}
			}
		}
	}

	.body {
		background-color: $gray-lighter;
	}

	&.background-gray {
		.body {
			background-color: $white;
		}
	}
}