.quote-block {
	text-align: center;
	max-width: 766px;
	margin: auto;

	blockquote {
		@include adjust-font-size-to(22px);
		line-height: 1.2;
		margin: 0;
		@include responsive-spacing(margin-bottom, 10px);
		
		@include breakpoint($tablet) {
			@include adjust-font-size-to(25px);
			line-height: 1.2;
		}
	}

	cite {
		font-style: normal;
		font-weight: $weight-thin;
	}
}