.related-links {
    background-color: white;
    padding: 10px 10px 0 10px;
    background-color: $light-blue;
    margin-bottom: 10px;
    .home & {
        padding: 0;
    }
    h4 {
        margin: 0;
        border-bottom: 1px solid $brand-primary;
        padding-bottom: 10px;
        padding: 10px 0;
        @include breakpoint($large) {
            padding: 3px 0 11px 0;
        }
    }
    ul {
        padding: 0 5px;
        margin-top: 0;
        @include no-bullets;
        li.docLink {
            display: table;
            line-height: normal;
            padding: 0 0 0 40px;
            white-space: normal;
            border-top: 1px solid $gray-lightest;
            background-position: 0 5px;
            background-repeat: no-repeat;
            background-color: white;
            margin: 0;
            line-height: 44px;
            &:first-child {
                border: none;
            }
            a {
                display: table-cell;
                vertical-align: middle;
                color: $brand-primary;
                font-weight: normal;
                text-align: left;
            }
        }
    }
    // First ul
    ul {
        @include no-bullets;
        margin: 0;
        padding: 0;
        @include breakpoint($large) {
            display: block;
        }

        li:first-child a {
            border-top: none;
            margin-top: 5px;
        }
        // First li
        > li {
            position: relative;
            // outline: 1px solid green;
            border-top: 1px solid $blue-line;
            // @include breakpoint($large) {
            //     border: none;
            // }
            &:first-child {
                border: none;
            }
            a {
                display: block;
                padding: 10px 0;
                @include breakpoint($large) {
                    color: $brand-primary;
                    padding: 10px 0;
                }
            }
            @include breakpoint($large) {
                &.selected {
                    background-color: darken($gray-lightest, 5%);
                }
                &:hover {
                    background-color: $blue-alt;
                    margin: 0;
                    padding: 0;
                    @include breakpoint($large) {
                        margin: 0 -10px;
                        padding: 0 10px;
                    }

                    a {
                        color: $white;
                        border-color: $blue-alt;
                    }
                }
            }
        }
        //end first li
   
    }
    //end first ul
}