.screenshots-block {
	@include responsive-spacing(padding-top, 40px);

	.item {
		text-align: center;

		.image {
			padding-left: 40px;
  			padding-right: 40px;

  			@include breakpoint($tablet) {
				padding-left: 70px;
	  			padding-right: 70px;
			}
		}

		img {
			width: auto;
			display: inline-block;
		}
	}

	.owl-controls {
		margin-top: -60px;

		@include breakpoint($tablet) {
			margin-top: -90px;
		}

		.owl-nav {
			.owl-next, .owl-prev {
				color: $text-color;
			}
		}
	}
}