.searchBlock {
    display: none;
    @include breakpoint($large) {
        display: block;
        width: 234px;
        margin-top: 4px;
        float: right;
        padding: 2px;
        background-color: white;
        @include clearfix;
        .topSearchField {
            height: 23px !important;
            width: 200px !important;
            float: left;
            border: none !important;
            margin: 0 !important;
            padding: 0 0 0 6px !important;
        }
        #search_button {
            margin: 0;
            display: block;
            text-indent: -999999px;
            padding: 0;
            line-height: 40px;
            width: 23px;
            height: 23px;
            background-repeat: no-repeat;
            background-position: 5px 5px;
            float: right;
        }
    }
}

.search-results-page {
    h2 {
        margin-bottom: 0;
    }
    h3 {
        margin: 0;
        font-size: 0.85em;
    }
    ul.search-pagination {
        text-align: center;
        padding: 10px 0;
        margin: 0;
        @include breakpoint($large) {
            text-align: right;
        }

        li {
            display: inline-block;
            padding: 0 5px;
        }
    }
    ul.search-results {
        @include no-bullets;
        margin: 0;
        padding: 0;
        li {
            display: block;
            border-bottom: 1px solid $light-blue;
            padding: 20px 0;
            h4 {
                margin: 0;
                padding-bottom: 14px;
            }
            .read-more {
                @extend %read-more;
            }
            &:first-child {
                border-top: 1px solid $light-blue;
            }
        }
    }
    ul.search-results + .pagination {
        margin-top: 20px;
    }
    .results-number {
        padding: 10px 0 0 0;
        p {
            margin: 0;
        }
    }
}