.services-block {
	margin: 0;

    ul {
        li {
        	//margin-bottom: 60px;
        	@include responsive-spacing(margin-bottom, 30px);
        }
    }

    .item {
        max-width: 370px;
        @include tablefy(5px, top, true);

        &:hover {
            text-decoration: none;

            .encircled-doubled {
                //@include encircle-double(12px);
                //margin: 8px;
            }

            .icon {
                font-size: 45px;
            }

            p, h3 {
                color: $gray;
            }
        }

        .encircled-doubled {
            &:before {
                @include transition(all 100ms);
            }
        }

        a {
            @extend .link-darker;
            display: inline-block;
        }

        .image {
            min-width: 55px;
            text-align: right;

            @include breakpoint($desktop) {
                min-width: 100px;
            }
        }

        .body {
            width: 100%;
            text-align: left;
            @include responsive-spacing(margin-bottom, 6px);
        }

        h3, h5 {
            //font-size: 26px;
            color: $text-color-dark;
            margin-bottom: 3px;
        }

        p {
            font-size: 16px;
            color: $text-color;
        }

        .masked {
            @include encircle(55px);
            //overflow: hidden;

            @include breakpoint($tablet) {
                @include encircle(80px);
            }

            @include breakpoint($desktop) {
                @include encircle(100px);
                //@include encircle-double;
            }
        }

        .encircled-doubled {
            @include encircle(55px);
            //overflow: hidden;

            @include breakpoint($tablet) {
                @include encircle(70px);
            }

            @include breakpoint($desktop) {
                @include encircle(85px);
                //@include encircle-double;
            }
        }

        .icon {
            @include transition(all 200ms);
            color: $brand-primary;
            font-size: 30px;

            @include breakpoint($tablet) {
                font-size: 40px;
            }
        }
    }
}