.servicethumbs-block { // Also uses services-block class...
	.services {
		clear: both;

		@include breakpoint($tablet) {
			@include tablefy(10px, top, true);
		}
	}

	.service {
		max-width: none;
		margin-bottom: 20px;

		@include breakpoint($tablet) {
			width: 1%; // So that they all have the same size/priority...
			margin-bottom: 0;
		}

		.encircled-doubled {
            @include encircle(85px);
        }

        .icon {
            font-size: 40px;
        }

		.image, .body {
			display: block;
			text-align: center;
		}

		.image {
			padding-bottom: 15px;
		}
	}
}