@import "helpers/bootstrap sass and mixins/variables";
//@import "helpers/bootstrap sass and mixins/navs";
@import "helpers/bootstrap sass and mixins/_component-animations.scss";

// Custom collapse... sigh...
.collapsing {
	@include transition(max-height 250ms ease);
	height: auto;
}

.collapse {
  	display: block; 
	//max-height: 0px;
	overflow: hidden;
}

.service-block {
	.content, .navigation {
		h3 {
			@include responsive-spacing(margin-bottom, 5px);
		}

		p, li {
			//line-height: 1.4; // Change the line-height out of nowhere :P
		}
	}

	.content-container {
		@include breakpoint($desktop) {
			@include span(8 nest);
		}

		.content {
			@include breakpoint($desktop) {
				max-width: 665px;
			}
		}

		.image, .body {
			display: inline-block;
		}

		.image {
			@include responsive-spacing(margin-right, 10px);
			@include responsive-spacing(margin-bottom, 10px);
			float: left;
		}

		.encircled.masked {
			@include breakpoint($tablet) {
				@include encircle(120px);
			}
		}

		.header {
			@include responsive-spacing(margin-bottom, 10px);
		}
	}

	.navigation {
		padding: 0;

		@include breakpoint($desktop) {
			@include span(4 nest);
		}

		&.hidden-desktop {
			@include responsive-spacing(margin-bottom, 20px);
			
			h3 {
				margin-bottom: 0;
			}

			li, a {
				&, &:hover, &:active, &:focus {
					color: $white;
					text-decoration: none;
				}
			}

			.dropdown {
				@include responsive-spacing(padding, 5px);
				display: block;
				background-color: $gray;

				.icon {
					margin-right: 10px;
				}

				&.collapsed .icon-close2 {
					@extend .icon-bars;
				}
			}

			.list-dashed {
				@include responsive-spacing(padding, 5px);
				margin-top: 1px;
				background-color: $gray;

				a {
					display: inline-block;
					margin-bottom: 8px;
				}
			}
		}
	}
}