.team-block {
	ul {
		list-style-type: none;

	    li {
			@include responsive-spacing(margin-bottom, 30px);

	        .item {
	        	overflow: hidden;

	        	@include breakpoint($tween) {
					max-width: 300px;
	        	}

				// This transition is matching the one defined in overlays file... 20px difference
			    &:hover {
					.body {
						@include breakpoint($tween) {
				            @include opacity(0);
				            margin-bottom: -20px;
				        }
			        }
			    }

			    .encircled-social {
					//@include encircle(55px);
			    }

			    .content {
					@include tablefy(0, middle, true);

					@include breakpoint($tween) {
						@include untablefy;
					}
			    }
	        	
	        	img, .body {
	        		width: 100%;
			    }

			    .image {
					min-width: 100px;
			    }

			    .body {
			        @include transition(all, 250ms, ease-in-out);
			        @include opacity(1);
			        margin-bottom: 0;
			    }

			    .body {
			    	@include box-sizing(border-box);
			    	position: relative;
			    	bottom: 0px;
			    	background: $gray-lighter;
			    	padding: 10px 0;
			    	z-index: 0;
			    	height: 100%;

			    	@include breakpoint($tween) {
						position: absolute;
						height: auto;
						left: 0;
						right: 0;
					}

			    	h3 {
			    		margin: 0px;
			    		color: $text-color-dark;
			    		font-size: 26px;
			    		font-weight: normal;
			    	}

			    	p {
			    		margin: 0px;
			    		color: $text-color-light;
			    		font-size: 16px;
			    	}
			    }
	    	}
		}
	}
}