#twitter-ribbon {
    background-color: $brand-lightest-extreme;
    padding-bottom: 14px;
    @include breakpoint($large) {
        padding-bottom: 0;
    }

    #twitter-feed {
        position: relative;
        padding: 60px 10px 14px 10px;
        text-align: center;
        @include breakpoint($large) {
            padding: 14px 20px 14px 80px;
            text-align: left;
        }

        &:before {
            position: absolute;
            content: '';
            width: 46px;
            height: 38px;
          //  @include background-image(image-url("m_twitter_bird.png"));
            left: 50%;
            top: 15px;
            margin-left: -19px;
            @include breakpoint($large) {
            //    @include background-image(image-url("twitter_bird.png"));
                width: 66px;
                height: 51px;
                left: 14px;
                top: 50%;
                margin-top: -25px;
            }
        }
    }
    #tweets {
        h4 {
            margin: 0;
            padding-bottom: 14px;
        }
        a {
            font-weight: bold;
        }
    }
    .newsletter-signup {
        display: block;
        width: 175px;
        margin: 0px auto;
        padding: 10px;
        background-color: $brand-primary;
        color: $white;
        font-weight: bold;
        text-align: center;
        @include breakpoint($large) {
            padding: 14px 76px 14px 13px;
            height: 80px;
            line-height: 48px;
            &:after {
                content: '';
                position: absolute;
                right: 5px;
                top: 5px;
                width: 68px;
                height: 68px;
                background-position: -4px center;
                //@include background-image(image-url("newsletter.png"));
                background-repeat: no-repeat;
            }
        }
    }
}