.video-block {
	position: relative;
	margin-bottom: 20px;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
	background-color: $black;
	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	a {
		display: block;
	}
}

.video-pop-up {
	position: relative;
	margin-bottom: 10px;
	img {
		max-width: 100%;
		width: 100%;
	}
	.playbutton {
		width: 30px;
	    height: 30px;
	    margin-left: -15px;
	    margin-top: -15px;
	  //  background-image: url(/images/play-button-small.png);
	}
}

.video-image-player {
	margin-bottom: 20px;
	.video-title {
		background-color: $sky-blue;
		color: #fff;
		font-size: 18px;
		padding: 10px;
	}
	.video-container {
		position: relative;
		padding-bottom: 56.25%; /* 16:9 */
		padding-top: 25px;
		background-color: #000;
		height: 0;
		iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border: 0px;
		}
	}
	.thumbnail {
		position: relative;
		img {
			max-width: 100%;
			width: 100%;
			cursor: pointer;
		}
		&:hover .playbutton {
			background-color: darken($sky-blue, 10%);
			@include box-shadow(-1px -1px 24px 0px rgba(50, 50, 50, 0.2));
		}
	}
}

.playbutton{
    position:absolute;
    font-size:13px;
    width: 45px;
    height: 45px;
    z-index: 999;
  //  background: $sky-blue url(/images/play-button.png) no-repeat center center;
    text-indent: -9999px;
    text-align: center;
    cursor:pointer;
    color:red;
    margin-left: -22px;
    margin-top: -22px;
    top: 50%;
    left: 50%;
    @include transition(background-color 0.3s);
    &:hover {
    	background-color: darken($sky-blue, 10%);
    	@include box-shadow(-1px -1px 24px 0px rgba(50, 50, 50, 0.2));
    }
}

