.video-block {
	@include breakpoint($desktop) {
		@include tablefy(10px, top, true);
	}

	.body {
		margin-bottom: 20px;

		@include breakpoint($desktop) {
			@include span(3 top nest);
			margin-bottom: 0;
		}
	}
		
	.video {
		@include breakpoint($desktop) {
			@include span(9 top nest);
		}
	}

	.video-postered {
		.overlay-play {
			@include custom-icon;
			@extend .icon-play-sharp-circle;
			position: relative;
			display: block;

			&:before {
				@include transition(color 100ms);
				position: absolute;
				top: 50%;
				left: 50%;
				margin-top: -50px;
				margin-left: -50px;
				color: $white;
				color: rgba($white, 0.7);
				font-size: 100px;
				z-index: 1;
			}

			&:hover:before {
				color: $brand-primary;
				color: rgba($brand-primary, 0.7);
			}
		}
	}
}